<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="logout.php">Logout</a>
    <a href="topic.php?name={{TOPICNAME}}">Précédent</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Topic</th>
                <th>Subject</th>
                <th>Content</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            {{POST}}
        </tbody>
    </table>
</body>
</html>